.menu {
  position: absolute;
  top: 22px;
  right: 30px;
  width: 31px;
  height: 31px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 31px;
  background: transparent;
  border: 0;
}

.dropdownList {
  position: absolute;
  z-index: 1000;
  left: -133px;
  top: 10px;
  background-color: var(--white);
  width: 147px;
  height: 100px;
  border-radius: 3px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
}

.menuList {
  color: var(--grey66);
}

.genericListComments {
  display: none;
  background-repeat: no-repeat;
  color: inherit;
  border-bottom: 1px solid #ECECEC;
  margin: 14px 14px 0 14px;
  padding: 0 0 7px 0;
}

.genericListComments:hover > div > svg > path {
  fill: var(--orange);
}

.genericListComments:hover {
  background-repeat: no-repeat;
  color: var(--orange);
  cursor: pointer;
}

.genericListShare:hover > div > svg > path {
  fill: var(--orange);
}

.genericListShare {
  display: none;
  background-repeat: no-repeat;
  color: inherit;
  border-bottom: 1px solid #ECECEC;
  margin: 7px 14px 0 14px;
  padding: 0 0 7px 0;

}
.genericListShare:hover {
  color: var(--orange);
  cursor: pointer;
}

.genericListHide:hover > div > svg > path {
  fill: var(--orange);
}

.genericListHide {
  background-repeat: no-repeat;
  color: inherit;
  border-bottom: 1px solid #ECECEC;
  margin: 14px 14px 0 14px;
  padding: 0 0 7px 0;

}

.genericListHide:hover {
  color: var(--orange);
  cursor: pointer;
}

.genericListSave:hover > div > svg > path {
  fill: var(--orange);
}

.genericListSave {
  display: none;
  background-repeat: no-repeat;
  color: inherit;
  border-bottom: 1px solid #ECECEC;
  margin: 7px 14px 0 14px;
  padding: 0 0 7px 0;

}

.genericListSave:hover {
  color: var(--orange);
  cursor: pointer;
}

.genericListComplain:hover > div > svg > path {
  fill: var(--orange);
}

.genericListComplain {
  background-repeat: no-repeat;
  color: inherit;
  margin: 7px 14px 0 14px;
  padding: 0 0 7px 0;

}

.genericListComplain:hover {
  color: var(--orange);
  cursor: pointer;
}

.genericListClose {
  color: inherit;
  text-align: center;
  background: #D9D9D9;
  padding: 7px 0px 10px 0px;
}

.genericListClose:hover {
  color: var(--orange);
  cursor: pointer;
}

@media all and (min-width: 1024px) {
  .menu {
    top: 57px;
    right: 70px;
  }

  .dropdownList {
    left: -60px;
    height: 210px;
  }

  .genericListComments {
    display: block;
  }

  .genericListShare {
    display: block;
  }

  .genericListSave {
    display: block;
  }

  .genericListHide {
    margin: 7px 14px 0 14px;
  }

  .genericListComplain {
    margin: 7px 14px 0 14px;
  }

  .genericListClose {
    border: none;

  padding: 7px 0px 10px 0px;
  }
}

@media all and (min-width: 1540px) {
  .dropdownList {
    left: -60px;
    height: 177px;
  }

  .genericListComplain {
    border: none;
    margin: 7px 14px 14px 14px;
  }

  .genericListClose {
    display: none;
  }
}
