.card {
  background-color: var(--white);
  border-radius: 7px;
  display: flex;
  flex-flow: row wrap;
  position: relative;
}

.card > * {
  flex: 1 1 100%;

  .textContent {
    display: flex;
    flex-flow: row wrap;
    padding: 22px 20px 13px;
  }

  .metaData {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    font-size: 10px;
    line-height: 12px;
  }

  .userLink {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    height: 20px;
    padding: 0 6px 0 0;
  }

  .avatar {
    border-radius: 20px;
    width: 20px;
    height: 20px;
    margin: 0 7px 0 0;
  }

  .username {
    color: var(--orange);
  }

  .createdAt {
    color: var(--grey99);
  }

  .menu {
    position: absolute;
    top: 17px;
    right: 15px;
  }

  .menuButton {
    width: 31px;
    height: 31px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(90deg);
    border-radius: 31px;
    background: transparent;
    border: 0;
  }

  .menuButton:active, .menuButton:hover {
    background-color: rgba(51, 51, 51, 0.1);
  }


  .controls {
    padding: 10px 20px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  .karmaCounter > * + * {
    padding: 0 0 0 4px;
  }

  .karmaValue {
    color: var(--grayC4);
  }

  svg.down {  /* delete when move to css files, not need */
    transform: rotate(180deg);
  }


  .commentsButton {
    display: flex;
    align-items: normal;
  }

  .commentsButton * {
    color: var(--greyC4);
  }

  .commentsNumber {
    padding: 0 0 0 6px;
    font-size: 12px;
    line-height: 14px;
  }

  .shareButton {
    width: 20px;
    height: 20px;
  }

  .saveButton {
    width: 20px;
    height: 20px;
  }


  .title {
    font-size: 16px;
    line-height: 19px;
    font-weight: normal;
    margin: 0;
    padding: 7px 0 0;
  }

  .preview {
    max-height: 178px;
  }

  .postLink {
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
  }

  .actions {
    display: none;
  }
}

@media all and (min-width: 1540px) {
  .card {
    padding: 0 60px;
  }

  .textContent {
    flex-basis: 672px;
  }

  .controls {
    position: relative;
  }
  
  .postLink::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .username {
    position: relative;
    z-index: 1;
  }

  .card:hover, .card.focus-within {
    outline: 1px solid var(--greyD9);
  }

  .card:hover h2 a, .card:focus-within h2 a {
    color: var(--orange);
  }

  .userLink:hover a {
    text-decoration: underline;
  }

  .menuButton:hover {
    background-color: rgba(51, 51, 51, 0.1);
  }

  .karmaCounter > button.up:hover > svg > path {
    fill: var(--green);
  }

  .karmaCounter > button.down:hover > svg > path {
    fill: var(--orange);
  }
}
