.title {
  font-size: 16px;
  line-height: 19px;
  font-weight: normal;
  margin: 0;
  padding: 7px 0 0;
}

.title:hover a {
  color: var(--orange);
}

@media all and (min-width: 1024px) {
  .title {
    padding: 7px 0;
    order: 0;
  }
  .text {
    margin-top: 0;
    margin-bottom: 10px;
  }
}
