.searchBlock {
  padding: 14px 20px;
  background-color: var(--white);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin: 0 0 38px;
}

@media all and (min-width: 1024px) {
  .searchBlock {
    padding: 0;
    margin: 0 0 0 auto;
    background-color: transparent;
    border-radius: 0;
    box-shadow: none;
    order: 3;
  }
}
