.userLink {
  display: inline;
  flex-flow: row nowrap;
  align-items: center;
  height: 20px;
  padding: 0 6px 0 0;

  white-space: nowrap;
  text-align: center;
}

.userLink:hover a {
  text-decoration: underline;
}

/*
.metaData {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  font-size: 10px;
  line-height: 12px;
}
*/

.avatar {
  border-radius: 20px;
  width: 20px;
  height: 20px;
  margin: 0 7px 0 0;

  vertical-align: middle;
}

.username {
  color: var(--orange);
  line-height: 30px;
}

.createdAt,
.createdAt * {
  color: var(--grey99);
}

.publishedLabel {
  display: none;
}

@media all and (min-width: 1024px) {
  .metaData {
    order: 1;
  }

  /*
  .userLink {
    order: 1;
  }
  */

  .username {
    position: relative;
    z-index: 1;
    /*
    text-decoration: none;
    */
  }

  .createdAt,
  .createdAt * {
    order: 0;
    padding: 0 6px 0 0;
  }


  .publishedLabel {
    display: inline;
    padding: 0;
  }
}
