@media all and (min-width: 1024px) {
  .header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 67px 40px;
  }
}

@media all and (min-width: 1024px) {
  .header {
  }
}
